{% extends 'base.html.twig' %}
{% block title %}SSC Checkout{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {{ include('order/_creditCardFormJavaScript.html.twig') }}
  
  <script type="text/javascript">
    jQuery(document).ready(function(){
      $('.js-show-code-form').on('click', function(e){
        e.preventDefault();
        
        $('.js-code-form').show();
      });
    });
  </script>
{% endblock %}

{% block body %}
<div class="nav-space-checkout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="checkout-header">Checkout</h1>
      </div>
      <div class="col-xs-12 col-sm-6">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="col-xs-6 active">Product</th>
              <th class="col-xs-3 active text-center">Price</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr>
                <th class="col-xs-6 checkout-product-name">{{ product.name }}</th>
                <td class="col-xs-3">${{ product.price }}</td>
              </tr>
            {% endfor %}
            {% if cart.subscriptionPlan %}
              <tr>
                <th class="col-xs-6 checkout-product-name">{{ cart.subscriptionPlan.name }}</th>
                <td class="col-xs-3">${{ cart.subscriptionPlan.price }} / month</td>
              </tr>
            {% endif %}  
          </tbody>
          <tfoot>
            <tr>
              <th class="col-xs-6 info">Total</th>
              <td class="col-xs-3 info checkout-total">${{ cart.total }}</td>
            </tr>
          </tfoot>
        </table>
        
        <button class="btn btn-xs btn-link pull-right js-show-code-form">
          I have a coupon code
        </button> 
              
        <div class="js-code-form" style="display: none;">
          <form action="{{ path('order_add_coupon') }}" method="POST" class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-terminal"></i>
                </span>
                <input type="text" name="code" autocomplete="off" class="form-control" placeholder="Coupon Code"/>
              </div>

              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>     
      </div>
      <div class="col-xs-12 col-sm-6">
        {{ include('order/_cardForm.html.twig') }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
